*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}

.changelog-main{
    border: 3px solid black;
    border-radius: 20px;
    width: 700px;
    height: 800px;
    padding: 50px;
}

.changelog-header{
    text-align: center;
}

h1{
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 15px;
}

p{
    font-size: 1.1rem;
    color: rgb(160, 160, 160);
}

.changelog-content{
    display: flex;
    margin: 30px 0;
}

.list{
    list-style: none;
}

.changelog-date{
    padding-right: 30px;
    font-size: 1.1rem;
    color:rgb(160, 160, 160);
    line-height: 3.2;
}

.changelog-changes{
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 30px;
    border-left: 3px solid black;
    line-height: 3.2;
}

.changelog-changes li{
    position: relative;
}

.changelog-changes li::before{
    content: "";
    background: black;
    position: absolute;
    width: 18px;
    height: 18px;
    left: -40px;;
    top: 23px;
    border-radius: 50%;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    color: white;
    background: #000;
    padding: 13px 40px;
    border-radius: 12px;
    font-size: 1rem;
    margin-top: 50px;
}